@use "main-colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $main-green;
  font-family: "Lato", sans-serif;
}
